table {
    font-size: 12px;
  }
  .pool-search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
  #map {
      width: 76%;
      height:700px;
      border: this solid black;
      float:left;
  }
  #listing {
    height: 700px;
    overflow: scroll;
    left: 442px;
    top: 3%;
    cursor: pointer;
    overflow-x: hidden;
  }
  #findpools {
    font-size: 14px;
  }
  #locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: auto 8px;
  }
  #controls {
    -webkit-box-flex: 1 1 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
  }
  #autocomplete {
    width: 100%;
  }
  #country {
    width: 100%;
  }
  .placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
  }
  .poolIcon {
    width: 24px;
    height: 24px;
  }
  #resultsTable {
    border-collapse: collapse;
    width: 240px;
  }
  #rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
  }
  .iw_table_row {
    height: 18px;
  }
  .iw_attribute_name {
    font-weight: bold;
    text-align: right;
  }
  .iw_table_icon {
    text-align: right;
  }

  /* Set position of cart-overlay div to fixed. Set margins, width, height, brown background color, linear transition, and visibility to hidden. */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240,157,81,0.5);
  z-index: 2;
  visibility: hidden;
}

/* Set cart div position, margins, width, height, overflow, white background, padding, transition, and transformation. */
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

/* Hide cart when page loads. */
.showCart {
  transform: translateX(0);
}

/* Hide transparent background color when page loads. In other words, don't add this class to .cart-overlay div when page loads. */
.transparentBcg {
  visibility: visible;
}

/* Set max width and min width of .cart div. */
@media screen and (min-width: 768px) {
  .cart {
      width: 30vw;
      min-width: 450px;
  }
}

/* Set size of 'X' button in cart div. */
.close-cart {
  font-size: 2rem;
  cursor: pointer;
}

/* Style 'Your Cart' title in cart div. */
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/* Create grid in div and align text/images to center. */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

/* Style cart item title. */
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

/* Style cart item price. */
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}

/* Align item amount number to center. */
.item-amount {
  text-align: center;
}

/* Style remove text in cart item to grey color and change cursor to pointer when hovering over it. */
.remove-item {
  color: grey;
  cursor: pointer;
}

/* Style cart footer div with top margin, letter spacing, and centered text. */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

/* Style subtotal, tax, and total headers by capitalizing words and adding bottom margin. */
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
  