body {
    background-color: #2fb554;
}

   p {
     background-color: lightblue;
     font-size: 24pt;      
     text-align: center;
   }

   h1{
     border: thin solid red;
     text-align: right;
   }

   #first{
     background-color: red;
   }

   #second{
     text-align: left;
   }

   #third{
     font-size: 12pt;
     text-align: right;
   }
   
   .dark{
     background-color: black;
     color: white;
   }
     
   .light{
     background-color: white;
     color: black;
     font-style: italic;
   }
 
   .highlighted{
     border: thick dotted red;
   }